{% extends "layout.html" %} {% block body %}

<div
  class="max-w-lg mx-auto mt-10 bg-white dark:bg-gray-800 p-6 rounded shadow"
>
  <h2 class="text-2xl font-bold mb-4">Change Password</h2>

  <form method="POST" id="passwordForm">
    <label>Current Password</label>
    <input
      type="password"
      name="current_password"
      class="input w-full mb-3"
      required
    />

    <label>New Password</label>
    <input
      type="password"
      id="newPassword"
      name="new_password"
      class="input w-full mb-3"
      required
    />
    <p class="text-sm text-gray-500 dark:text-gray-400 mb-3">
      Password must contain:
      <br />• Minimum 8 characters <br />• At least 1 uppercase letter <br />•
      At least 1 number <br />• At least 1 special character
    </p>

    <label>Confirm New Password</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirm_password"
      class="input w-full mb-5"
      required
    />

    <button
      id="submitBtn"
      class="btn bg-blue-600 text-white w-full py-2 rounded hover:bg-blue-700 transition"
    >
      Update Password
    </button>
  </form>

  <button
    onclick="window.location.href='{{ url_for('settings') }}'"
    class="btn bg-gray-500 text-white w-full py-2 rounded mt-3 hover:bg-gray-600 transition"
  >
    Cancel
  </button>
</div>
<script>
  const newPass = document.getElementById("newPassword");
  const confirmPass = document.getElementById("confirmPassword");
  const submitBtn = document.getElementById("submitBtn");

  const pwdRegex =
    /^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_\-+\=\[\]{};:'",.<>/?\\|`~]).{8,}$/;

  function validateForm() {
    const passValid = pwdRegex.test(newPass.value);
    const match = newPass.value === confirmPass.value;

    if (passValid && match) {
      submitBtn.disabled = false;
      submitBtn.classList.remove("opacity-40", "cursor-not-allowed");
    } else {
      submitBtn.disabled = true;
      submitBtn.classList.add("opacity-40", "cursor-not-allowed");
    }
  }

  newPass.addEventListener("input", validateForm);
  confirmPass.addEventListener("input", validateForm);
</script>

{% endblock %}